body {
	/*width: 80%;*/
	max-width: 1024px;
	margin: 0 auto;
}

.container-padding50 {
	padding-top: 50px;

}

.add-description {
    /*text-align: center;*/
    width: 80%;
	display: inline-block;
	padding: 20px;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
}

.addButton {
	width: 10%;
	display: inline-block;
	padding: 20px;
	background-color: green;
	color: white;
	font-size: 18px;
	font-family: Helvetica, sans-serif;

	border: 1px solid green;
	border-radius: 5px;
}

.js-container {
    width: 700px;
    margin: 30px auto;
    box-sizing: border-box;
}

.js-container::after {
    content: "";
    display: table;
    clear: both;
}
